<div class="fade-in">
	<h2>对技术的要求</h2>
	<div class="badge">
		<img src="https://img.shields.io/badge/build-passing-brightgreen.svg" alt="build passing" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/BrowserStack-completed-brightgreen.svg" alt="BrowserStack completed" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/coverage-87%25-yellowgreen.svg" alt="coverage 87%" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/peer%20dependencies-up%20to%20date-green.svg" alt="peer dependencies up to date" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/dev%20dependencies-up%20to%20date-green.svg" alt="dev dependencies up to date" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="license MIT" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/npm-v16.7.0-blue.svg" alt="npm v16.7.0" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/circleci-passing-brightgreen.svg" alt="circleci passing" data-canonical-style="max-width:100%;" />
		<img src="https://img.shields.io/badge/PRs-welcome-brightgreen.svg" alt="PRs Welcome" data-canonical-style="max-width:100%;" />
	</div>
</div>
<div class="fade-in">
	<h2>自我评价</h2>
	<ul>
		<li><strong> 对工作认真负责,勤奋好学,积极向上,富有创造性和进取精神。</strong></li>
		<li><strong>善于和别人沟通交流,具有良好的表达能力和理解能力(表达能力=>熟悉的人)。</strong></li>
		<li><strong>具有较强的集体主义精神,团队意识较强，能较快融入团队的工作。</strong></li>
		<li><strong>擅长总结,逻辑能力较强，能较快从所遇问题总结出来内在的联系。</strong></li>
		<li><strong>学习能力较强,开发过程中善于查找 BUG,快速定位 BUG 并处理，善于利用网络解决工作 中遇到的问题</strong></li>
		<li><strong>抗压，吃苦耐劳，服从公司安排，接受加班，出差安排。</strong></li>
	</ul>
</div>
